/* Table of content
-----------------------------------------------
1. Global
2. Buttons
3. Navigation
4. Header
5. Footer
6. Content
*/

/* =Global
----------------------------------------------- */
body {
  color: #6B6B6B;
  word-wrap: break-word;
  line-height: 1.7;
  font-size: 14px;
  overflow-x: hidden;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

a {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #6B6B6B;
  text-decoration: none;
  -webkit-transition: all 0.2s;
     -moz-transition: all 0.2s;
       -o-transition: all 0.2s;
          transition: all 0.2s;
}

a:hover,
a:focus {
  color: #333;
  text-decoration: none;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #666666;
}

h1,
.h1 {
  font-size: 32px;
}

h2,
.h2 {
  font-size: 28px;
}

h3,
.h3 {
  font-size: 24px;
}

h4,
.h4 {
  font-size: 18px;
}

h5,
.h5 {
  font-size: 16px;
}

h6,
.h6 {
  font-size: 14px;
}

img {
  height: auto; /* Make sure images are scaled correctly. */
  max-width: 100%; /* Adhere to container width. */
}
button,
input,
select,
textarea {
  font-size: 100%; /* Corrects font size not being inherited in all browsers */
  margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline; /* Improves appearance and consistency in all browsers */
  *vertical-align: middle; /* Improves appearance and consistency in all browsers */
}
select {
    width: 250px;
    border: 1px solid #DCE4EC;
    background-color: #FFF;
    height: 30px;
    padding: 5px;
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
  -webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
  -webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
  -moz-box-sizing:    content-box;
  box-sizing:         content-box;
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #666;
  border: 1px solid #B2A8A6;
  border-radius: 3px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #111;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px 15px;
}
textarea {
  overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding-left: 3px;
  vertical-align: top; /* Improves readability and alignment in all browsers */
  width: 100%;
}

.color-red{
  color: red !important;
}
.shopnow{
  background: transparent !important;
}
.shopnow:before{
  content: 'SHOP NOW';
  border: 1px solid;
  font-size: 20px;
  padding: 10px 20px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;   
}
.shopnow.dark:before{
  color: #333;
  border-color: #333;
}
.shopnow.dark:hover:before{
  background-color: #333;
  border-color: #333;
  color: #FFF;
}
.shopnow.white:before{
  color: #FFF;
  border-color: #FFF;
}
.shopnow.white:hover:before{
  background-color: #FFF;
  border-color: #FFF;
  color: #333;
}
/* =Background Color
----------------------------------------------- */
.spacegrey {
    background-color: #eff0ef
}

.green {
    background-color: #ddefe5
}

.yellow {
    background-color: #fcf4be
}

.orange {
    background-color: #fce1b8
}

.lightorange {
    background-color: #fdecd3
}

.pink {
    background-color: #f3dee7
}

.pinkpurple {
    background-color: #e8d9ea
}

.purple {
    background-color: #e0dced
}

.darkred {
    background-color: #fbb9b3
}

.lightred {
    background-color: #f4d0cc
}

.turqoise {
    background-color: #d8eff3
}

.blue {
    background-color: #a9d1ee
}

.lightblue {
    background-color: #bbdaf1
}

.white {
    background-color: #fff
}

.transparent {
    background-color: transparent
}

.black {
    background-color: #1c1e1b
}

.grey {
    background-color: #373737
}

.angle-gradient.spacegrey {
    background: #eff0ef;
    background: -moz-linear-gradient(-45deg, #f1f1f1 0%, #eff0ef 30%, #eff0ef 70%, #ebebeb 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #f1f1f1), color-stop(30%, #eff0ef), color-stop(70%, #eff0ef), color-stop(100%, #ebebeb));
    background: -webkit-linear-gradient(-45deg, #f1f1f1 0%, #eff0ef 30%, #eff0ef 70%, #ebebeb 100%);
    background: -o-linear-gradient(-45deg, #f1f1f1 0%, #eff0ef 30%, #eff0ef 70%, #ebebeb 100%);
    background: -ms-linear-gradient(-45deg, #f1f1f1 0%, #eff0ef 30%, #eff0ef 70%, #ebebeb 100%);
    background: linear-gradient(135deg, #f1f1f1 0%, #eff0ef 30%, #eff0ef 70%, #ebebeb 100%)
}

.angle-gradient.green {
    background: #ddefe5;
    background: -moz-linear-gradient(-45deg, #e4f2ea 0%, #ddefe5 30%, #ddefe5 70%, #d6ece0 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #e4f2ea), color-stop(30%, #ddefe5), color-stop(70%, #ddefe5), color-stop(100%, #d6ece0));
    background: -webkit-linear-gradient(-45deg, #e4f2ea 0%, #ddefe5 30%, #ddefe5 70%, #d6ece0 100%);
    background: -o-linear-gradient(-45deg, #e4f2ea 0%, #ddefe5 30%, #ddefe5 70%, #d6ece0 100%);
    background: -ms-linear-gradient(-45deg, #e4f2ea 0%, #ddefe5 30%, #ddefe5 70%, #d6ece0 100%);
    background: linear-gradient(135deg, #e4f2ea 0%, #ddefe5 30%, #ddefe5 70%, #d6ece0 100%)
}

.angle-gradient.yellow {
    background: #fcf4be;
    background: -moz-linear-gradient(-45deg, #fdf6cb 0%, #fcf4be 30%, #fcf4be 70%, #fbf2b1 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #fdf6cb), color-stop(30%, #fcf4be), color-stop(70%, #fcf4be), color-stop(100%, #fbf2b1));
    background: -webkit-linear-gradient(-45deg, #fdf6cb 0%, #fcf4be 30%, #fcf4be 70%, #fbf2b1 100%);
    background: -o-linear-gradient(-45deg, #fdf6cb 0%, #fcf4be 30%, #fcf4be 70%, #fbf2b1 100%);
    background: -ms-linear-gradient(-45deg, #fdf6cb 0%, #fcf4be 30%, #fcf4be 70%, #fbf2b1 100%);
    background: linear-gradient(135deg, #fdf6cb 0%, #fcf4be 30%, #fcf4be 70%, #fbf2b1 100%)
}

.angle-gradient.orange {
    background: #fce1b8;
    background: -moz-linear-gradient(-45deg, #fde7c6 0%, #fce1b8 30%, #fce1b8 70%, #fbdbaa 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #fde7c6), color-stop(30%, #fce1b8), color-stop(70%, #fce1b8), color-stop(100%, #fbdbaa));
    background: -webkit-linear-gradient(-45deg, #fde7c6 0%, #fce1b8 30%, #fce1b8 70%, #fbdbaa 100%);
    background: -o-linear-gradient(-45deg, #fde7c6 0%, #fce1b8 30%, #fce1b8 70%, #fbdbaa 100%);
    background: -ms-linear-gradient(-45deg, #fde7c6 0%, #fce1b8 30%, #fce1b8 70%, #fbdbaa 100%);
    background: linear-gradient(135deg, #fde7c6 0%, #fce1b8 30%, #fce1b8 70%, #fbdbaa 100%)
}

.angle-gradient.lightorange {
    background: #fdecd3;
    background: -moz-linear-gradient(-45deg, #fdf0dc 0%, #fdecd3 30%, #fdecd3 70%, #fde8ca 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #fdf0dc), color-stop(30%, #fdecd3), color-stop(70%, #fdecd3), color-stop(100%, #fde8ca));
    background: -webkit-linear-gradient(-45deg, #fdf0dc 0%, #fdecd3 30%, #fdecd3 70%, #fde8ca 100%);
    background: -o-linear-gradient(-45deg, #fdf0dc 0%, #fdecd3 30%, #fdecd3 70%, #fde8ca 100%);
    background: -ms-linear-gradient(-45deg, #fdf0dc 0%, #fdecd3 30%, #fdecd3 70%, #fde8ca 100%);
    background: linear-gradient(135deg, #fdf0dc 0%, #fdecd3 30%, #fdecd3 70%, #fde8ca 100%)
}

.angle-gradient.pink {
    background: #f3dee7;
    background: -moz-linear-gradient(-45deg, #f5e5ec 0%, #f3dee7 30%, #f3dee7 70%, #f1d7e2 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #f5e5ec), color-stop(30%, #f3dee7), color-stop(70%, #f3dee7), color-stop(100%, #f1d7e2));
    background: -webkit-linear-gradient(-45deg, #f5e5ec 0%, #f3dee7 30%, #f3dee7 70%, #f1d7e2 100%);
    background: -o-linear-gradient(-45deg, #f5e5ec 0%, #f3dee7 30%, #f3dee7 70%, #f1d7e2 100%);
    background: -ms-linear-gradient(-45deg, #f5e5ec 0%, #f3dee7 30%, #f3dee7 70%, #f1d7e2 100%);
    background: linear-gradient(135deg, #f5e5ec 0%, #f3dee7 30%, #f3dee7 70%, #f1d7e2 100%)
}

.angle-gradient.pinkpurple {
    background: #e8d9ea;
    background: -moz-linear-gradient(-45deg, #ede1ee 0%, #e8d9ea 30%, #e8d9ea 70%, #e3d1e6 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ede1ee), color-stop(30%, #e8d9ea), color-stop(70%, #e8d9ea), color-stop(100%, #e3d1e6));
    background: -webkit-linear-gradient(-45deg, #ede1ee 0%, #e8d9ea 30%, #e8d9ea 70%, #e3d1e6 100%);
    background: -o-linear-gradient(-45deg, #ede1ee 0%, #e8d9ea 30%, #e8d9ea 70%, #e3d1e6 100%);
    background: -ms-linear-gradient(-45deg, #ede1ee 0%, #e8d9ea 30%, #e8d9ea 70%, #e3d1e6 100%);
    background: linear-gradient(135deg, #ede1ee 0%, #e8d9ea 30%, #e8d9ea 70%, #e3d1e6 100%)
}

.angle-gradient.purple {
    background: #e0dced;
    background: -moz-linear-gradient(-45deg, #e6e3f1 0%, #e0dced 30%, #e0dced 70%, #dad5e9 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #e6e3f1), color-stop(30%, #e0dced), color-stop(70%, #e0dced), color-stop(100%, #dad5e9));
    background: -webkit-linear-gradient(-45deg, #e6e3f1 0%, #e0dced 30%, #e0dced 70%, #dad5e9 100%);
    background: -o-linear-gradient(-45deg, #e6e3f1 0%, #e0dced 30%, #e0dced 70%, #dad5e9 100%);
    background: -ms-linear-gradient(-45deg, #e6e3f1 0%, #e0dced 30%, #e0dced 70%, #dad5e9 100%);
    background: linear-gradient(135deg, #e6e3f1 0%, #e0dced 30%, #e0dced 70%, #dad5e9 100%)
}

.angle-gradient.darkred {
    background: #fbb9b3;
    background: -moz-linear-gradient(-45deg, #fcc7c2 0%, #fbb9b3 30%, #fbb9b3 70%, #faaba4 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #fcc7c2), color-stop(30%, #fbb9b3), color-stop(70%, #fbb9b3), color-stop(100%, #faaba4));
    background: -webkit-linear-gradient(-45deg, #fcc7c2 0%, #fbb9b3 30%, #fbb9b3 70%, #faaba4 100%);
    background: -o-linear-gradient(-45deg, #fcc7c2 0%, #fbb9b3 30%, #fbb9b3 70%, #faaba4 100%);
    background: -ms-linear-gradient(-45deg, #fcc7c2 0%, #fbb9b3 30%, #fbb9b3 70%, #faaba4 100%);
    background: linear-gradient(135deg, #fcc7c2 0%, #fbb9b3 30%, #fbb9b3 70%, #faaba4 100%)
}

.angle-gradient.lightred {
    background: #f4d0cc;
    background: -moz-linear-gradient(-45deg, #f6d9d6 0%, #f4d0cc 30%, #f4d0cc 70%, #f2c7c2 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #f6d9d6), color-stop(30%, #f4d0cc), color-stop(70%, #f4d0cc), color-stop(100%, #f2c7c2));
    background: -webkit-linear-gradient(-45deg, #f6d9d6 0%, #f4d0cc 30%, #f4d0cc 70%, #f2c7c2 100%);
    background: -o-linear-gradient(-45deg, #f6d9d6 0%, #f4d0cc 30%, #f4d0cc 70%, #f2c7c2 100%);
    background: -ms-linear-gradient(-45deg, #f6d9d6 0%, #f4d0cc 30%, #f4d0cc 70%, #f2c7c2 100%);
    background: linear-gradient(135deg, #f6d9d6 0%, #f4d0cc 30%, #f4d0cc 70%, #f2c7c2 100%)
}

.angle-gradient.turqoise {
    background: #d8eff3;
    background: -moz-linear-gradient(-45deg, #e0f2f5 0%, #d8eff3 30%, #d8eff3 70%, #d0ecf1 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #e0f2f5), color-stop(30%, #d8eff3), color-stop(70%, #d8eff3), color-stop(100%, #d0ecf1));
    background: -webkit-linear-gradient(-45deg, #e0f2f5 0%, #d8eff3 30%, #d8eff3 70%, #d0ecf1 100%);
    background: -o-linear-gradient(-45deg, #e0f2f5 0%, #d8eff3 30%, #d8eff3 70%, #d0ecf1 100%);
    background: -ms-linear-gradient(-45deg, #e0f2f5 0%, #d8eff3 30%, #d8eff3 70%, #d0ecf1 100%);
    background: linear-gradient(135deg, #e0f2f5 0%, #d8eff3 30%, #d8eff3 70%, #d0ecf1 100%)
}

.angle-gradient.blue {
    background: #a9d1ee;
    background: -moz-linear-gradient(-45deg, #badaf1 0%, #a9d1ee 30%, #a9d1ee 70%, #98c8eb 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #badaf1), color-stop(30%, #a9d1ee), color-stop(70%, #a9d1ee), color-stop(100%, #98c8eb));
    background: -webkit-linear-gradient(-45deg, #badaf1 0%, #a9d1ee 30%, #a9d1ee 70%, #98c8eb 100%);
    background: -o-linear-gradient(-45deg, #badaf1 0%, #a9d1ee 30%, #a9d1ee 70%, #98c8eb 100%);
    background: -ms-linear-gradient(-45deg, #badaf1 0%, #a9d1ee 30%, #a9d1ee 70%, #98c8eb 100%);
    background: linear-gradient(135deg, #badaf1 0%, #a9d1ee 30%, #a9d1ee 70%, #98c8eb 100%)
}

.angle-gradient.lightblue {
    background: #bbdaf1;
    background: -moz-linear-gradient(-45deg, #c9e1f4 0%, #bbdaf1 30%, #bbdaf1 70%, #add3ee 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #c9e1f4), color-stop(30%, #bbdaf1), color-stop(70%, #bbdaf1), color-stop(100%, #add3ee));
    background: -webkit-linear-gradient(-45deg, #c9e1f4 0%, #bbdaf1 30%, #bbdaf1 70%, #add3ee 100%);
    background: -o-linear-gradient(-45deg, #c9e1f4 0%, #bbdaf1 30%, #bbdaf1 70%, #add3ee 100%);
    background: -ms-linear-gradient(-45deg, #c9e1f4 0%, #bbdaf1 30%, #bbdaf1 70%, #add3ee 100%);
    background: linear-gradient(135deg, #c9e1f4 0%, #bbdaf1 30%, #bbdaf1 70%, #add3ee 100%)
}

.angle-gradient.white {
    background: #fff
}

.angle-gradient.transparent {
    background: transparent
}
/* =Buttons
----------------------------------------------- */
.btn-default, .label-default {
  background-color: #CC3333;
  border-color: #CC3323;
}
.btn-default:hover, .label-default[href]:hover, .label-default[href]:focus, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, #image-navigation .nav-previous a:hover, #image-navigation .nav-next a:hover {
  background-color: #f2770e !important;
  border-color: #f2770e !important;
  outline: none !important;
}
.btn.btn-default {
    color: #FFF;
}

/* =Navigation
----------------------------------------------- */
.navbar-default{
  background-color: transparent;
  border-color: transparent;
  z-index: 10;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;  
}
.navbar-default.scrollDown{
  background-color: rgba(160, 158, 159, 0.95);
  z-index: 50;
  border: 0;
}
#navbar{
  margin-top: 55px;
}
#navbar > div{
  height: 70px;
}
#navbar .item.home span,
#navbar .item.cart span{
  display: none;
}
#navbar .item.cart a{
  border-right: 0;
}
#navbar > div ul li a{
  line-height: 1;
  margin-top: 35px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 5px;
  border-right: 1px solid;
}
#navbar > div ul.navbar-nav li:last-child a{
  border-right: 0;
}
#navbar .logo{
  padding: 0;
  height: auto;
}
#navbar .logo img{
  margin-top: -70px;
}
#navbar .search-mobile{
  display: none;
}
#navbar .search-mobile .input-search{
  width: 100%;
  padding: 10px 0 10px 40px;
  margin-bottom: 10px;
  border: 0;
  background-color: transparent;
  color: #FFF;
  border-radius: 0;
  outline: none;
}
#navbar .search-mobile .fa-search{
  display: block;
}
#navbar .search-mobile .fa-search:before{
  position: absolute;
  color: #FFF;
  top: 20%;
  left: 10px;
  font-size: 20px;
}
/* =Header
----------------------------------------------- */
#header .top-bar{
  background-color: #000;
  color: #FFF;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}
#header .top-bar div{
  line-height: 50px;
}
#header .top-bar .search input{
  line-height: 1;
  background-color: transparent;
  border: 0;
  color: #FFF;
  outline: none;
}
#header .top-bar .search button{
  background-color: transparent;
  border: 0;
  padding: 0;
}
/* =Banner Slider
----------------------------------------------- */
#banner{
  margin-top: 50px;
}
#banner .slider img{
  width: 100%;
}
.rsMinW .rsBullets{
  left: 0;
  width: 100%;
}
.rsMinW .rsBullet,
.rsMinW .rsBullet span{
  width: 8px !important;
  height: 8px !important;
  padding: 0 !important;
  margin: 2px 3px;
}
.slider .banner-text{
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
}
.slider .banner-text h2{
  font-size: 5vw;
  font-weight: bold;
  font-style: italic;
  color: #333;
}
.slider .banner-text h3{
  font-weight: bold;
  color: #333;
  letter-spacing: 10px;
  font-size: 2vw;
}
/* =Searchbox

/* =Footer
----------------------------------------------- */
#footer{
  background-color: #CC3323;
  padding: 15px 0 0; 
}
#footer a{
  color: #FFF;
}
#footer .logo{
  padding: 20px 0;
}
#footer .about,
#footer .copyright{
  color: #FFF;
  margin: 0;
}
#footer .about > div{
  padding-right: 80px;
}
#footer .about > div hr{
  margin: 10px 0;
}
#footer .about > div ul{
  padding: 0;
  list-style: none;
}
#footer .about > div ul li{
  padding: 5px 0;
}
#footer .about > div ul li a{
  margin-left: 15px;
  color: #FFF;
}
#footer .about .fa{
  display: block;
}
#footer .about > div.support ul li:before{
  content: '\2022';
  font-size: 20px;
  position: absolute;
  line-height: 1;
}
#footer .about > div.support-online ul li{
  margin-bottom: 10px;
}
#footer .about .support-online .fa:before{
  font-size: 20px;
  padding: 5px;
  background-color: #FFF;
  color: #CC3333;
  border-radius: 50%;
}
#footer .about .links ul li a{
  margin-left: 0
}
#footer .copyright ul{
  padding: 0;
  list-style: none;
}
#footer .copyright ul li{
  display: inline-block;
  border-right: 1px solid;
  line-height: 1;
}
#footer .copyright ul li:last-child{
  border-right: 0;
}
#footer .copyright ul li a{
  padding: 0 5px;
}
/* =Content
----------------------------------------------- */
#content .container > .row {
  margin: 0;
  padding: 15px 0;
}
#content .container > .row > div{
  padding: 15px;
}
#content img{
  width: 100%;
}
#content .cate-item{
  position: relative;
  overflow: hidden;
}
#content .cate-item img{
  transform: translateZ(0px);
  transition-duration: 500ms;
  transition-property: transform;  
}
#content .cate-item:hover img{
  transform: scale(1.2);
}
#content .cate-desc{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  margin: 0 -15px;
  padding: 0 15%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);   
}
#content .cate-desc h2{
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-shadow: #666 1px 1px 0px;
}
#content .review-form{
  -webkit-box-shadow: rgba(0,0,0,0.15) 0 1px 2px;
  -moz-box-shadow: rgba(0,0,0,0.15) 0 1px 2px;
  box-shadow: rgba(0,0,0,0.15) 0 1px 2px;
  background-color: rgba(243, 133, 38, 0.3);
  padding: 15px;  
}
#content ul.post-list{
  list-style: none;
  text-transform: uppercase;
  padding: 0;
}
#content ul.post-list li.active a{
  color: #000;
  font-weight: bold;
}
/*Begin Social*/
#social-bar{
  background-color: #EEE;
}
#social-bar ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
#social-bar ul li{
  display: inline-block;
  padding: 25px 5px;
}
#social-bar ul li a{
  background-color: #333;
  width: 35px;
  height: 35px;
  padding: 10px;
  border-radius: 50%;
  color: #FFF;
}
#social-bar ul li a:hover{
  background-color: #CC3333;
}
/*End Social*/

/*Begin info*/
#info-bar{
  background-color: #D8D8D8;
  padding: 20px 0;
}
#info-bar h2{
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
}
#info-bar p{
  text-align: justify;
}
#info-bar .btn-details {
  background-color: transparent;
  border-radius: 0;
  color: #000;
  border-color: #000;
  padding: 7px 20px;
}
#info-bar .btn-details:hover {
  color: #FFF;
  background-color: #CC3333;
  border-color: #CC3333;
}
/*End info*/
/* =Product Grid
----------------------------------------------- */
.category #content{
  background-color: #fbfbfb;
}
#product-grid .item:hover .image img{
  transform: scale(1.2);
}
#product-grid .item .panel{
  background: transparent;
}
#product-grid .product-info{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
}
#product-grid .panel .image{
  position: relative;
  height: 250px;
  overflow: hidden;
  text-align: center;
}
#product-grid .panel .image img{
  height: 100%;
  width: auto;
  transform: translateZ(0px);
  transition-duration: 500ms;
  transition-property: transform;
}
#product-grid .product-info .product-name,
#product-grid .product-info .price-box{
  padding: 0;
  color: #000;
}
#product-grid .product-info .price-box .regular-price{
  text-transform: lowercase;
}
#product-grid .item:hover .buy-panel{
  display: block;
}
.buy-panel .form-header{
  color: #FFF;
  padding: 0;
  margin: 0;
}
.buy-panel{
  display: none;
  position: absolute;
  background-color: #333;
  z-index: 5;
  width: 100%;
  left: 0;
  /*bottom: px;*/
}
.buy-panel .inner{
  padding: 10px 0;
}
.buy-panel .size-qty .row{
  margin: 0;
  padding: 0 15px;
}
.buy-panel .size-qty .product-option select,
.buy-panel .size-qty .product-option input{
  width: 100%;
  outline: none;
  border-radius: 2px;
}
.buy-panel .size-qty .product-option input{
  font-weight: bold;
  color: #FFF;
  background-color: transparent;
  padding: 0;
  font-size: 18px;
  text-align: left;
  border: 0;
  height: 30px;
}
.buy-panel .size-qty .product-option > div:first-child{
  border-right: 1px solid;
}
.buy-panel .size-qty .qty-container,
.buy-panel .size-qty .qty-container > div{
  padding: 0;
}
.buy-panel .qty-modifier{

}
.buy-panel .qty-modifier span{
  height: 30px;
  display: block;
  background-color: #eee;
  margin: 0 1px;
  border-radius: 2px;
}
.buy-panel .qty-modifier span:hover{
  color: #000;
  cursor: pointer;
  background-color: #FFF;
}
.buy-panel .qty-modifier span:active{
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 0 1px 0 rgba(0,0,0,0.2) inset;
}
.buy-panel .qty-modifier .fa:before{
  vertical-align: sub;
}
.buy-panel .size-qty .add-to-cart{
  margin-top: 10px;
}
.buy-panel .size-qty .add-to-cart .btn{
  width: 100%;
}
#product-grid .quick-buy.mobile{
  display: none;
}
.category .cate-list ul{
  padding: 0 0 0 5px ;
  list-style: none;
}
.category .cate-list .panel-heading.active .panel-title{
  font-weight: bold;
}
.category .cate-list ul.root{
  padding: 0;
  border-left: 4px solid #CC3323;
}
.category .cate-list ul li{
  margin-top: 0 !important;
  border-radius: 0;
  border: 0;
  position: relative;
}
.category .cate-list ul .toggle:before{
  content:"\f068";
  font-family: FontAwesome;
}
.category .cate-list ul .toggle.collapsed:before{
  content:"\f067";
  font-family: FontAwesome;
}
.category .cate-list .panel-heading{
  border-radius: 0;
  background-color: transparent;
}
.category .cate-list .panel-group{
  margin-bottom: 0;
}
.category .cate-list ul.root > li > .panel-heading{
  background-color: #CC3323;
}
.category .cate-list ul.root > li > .panel-heading a{
  color: #FFF;
}
.category .cate-list ul.root > li li:before{
  content:"\f105";
  font-family: FontAwesome;
  position: absolute;
  line-height: 1;
  padding: 10px 0;
}

/* =Product Detail
----------------------------------------------- */
.slider.swiper .slider-nav{
  position: relative;
}
.swiper-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide .product-img{
  width: auto !important;
  height: 100%;
}
.swiper .slider-thumbs{
  position: absolute;
  z-index: 2;
  bottom: 85px;
  left: 0;
}
.swiper .slider-thumbs ul{
  list-style: none;
  padding: 0;
}
.swiper .slider-thumbs ul li{
  position: relative;
  display: inline-block;
  overflow: hidden;
  -webkit-box-shadow: rgba(0,0,0,0.1) 0 1px 4px;
  -moz-box-shadow: rgba(0,0,0,0.1) 0 1px 4px;
  box-shadow: rgba(0,0,0,0.1) 0 1px 4px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.swiper .slider-thumbs ul li:hover{
  -webkit-transform: translateY(-5px);
}
.swiper .slider-thumbs ul li img{
  position: relative;
  height: 80px;
  width: auto !important;
}
.swiper .product-info{
  position: absolute;
  z-index: 40;
  text-shadow: rgba(0,0,0,0.2) 0 1px 2px;
  width: 100%;
  margin: 0 -15px;
  padding: 0 15px;
}
.swiper .product-info .price-box{
  font-size: 18px;
  font-weight: bold;
}
.swiper .buy-panel{
  display: block;
  position: relative;
}
.swiper .buy-panel .size-qty .row{
  padding: 0;
}
.swiper .slider-direction{
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 99;
  font-size: 30px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}
.swiper .slider-direction i{
  width: 36px;
  height: 36px;
  position: relative;
  background-color: #FFF;
  border-radius: 2px;
}
.swiper .slider-direction i:before{
  display: block;
  text-align: center; 
}
/* =Contact
----------------------------------------------- */
.contact-wrapper{
  height: 584px;
  position: relative;
}
.contact-wrapper #google-map{
  height: 100%;
  z-index: -1;
}
.contact-wrapper .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(243, 133, 38, 0.2);
}
.contact-wrapper .contact-form{
  padding: 10px;
  background: rgba(255,255,255,0.8);
}
.contact-wrapper .contact-form h2{
  color: #000;
}
/* =Responsive
----------------------------------------------- */
/*Max-Width*/
@media (max-width: 1199px) {
  #navbar{
    margin-top: 40px;
  }
  #navbar .logo img{
    margin-top: 0;
  }
}
@media (max-width: 991px) {
  .top-bar .search{
    display: none;
  }
  #navbar{
    margin-top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    border-bottom: 3px solid #000;
  }
  #navbar > div{
    height: auto;
  }
  #navbar .logo{
    display: none;
  }
  #navbar .item.home span,
  #navbar .item.cart span{
    display: inline-block;
  }
  #navbar .fa.fa-home,
  #navbar .fa.fa-shopping-cart{
    display: none;
  }
  #navbar ul li a{
    border: 0 !important;
    margin: 0 !important;
    padding: 10px 0 !important;
    color: #ddd !important;
  }
  #navbar .search-mobile{
    display: block;
  }
  .navbar-default{
    z-index: 999;
  }
  .navbar-toggle {
    display: block;
    margin-right: 0;
  }
  .navbar-header{
    float: none;
  }
  .navbar-nav,
  .navbar-nav>li{
    float: none !important;
    margin: 0;
  }
  .slider.swiper .slider-nav{  
    display: none;
  } 
}
@media (max-width: 767px) {
  .navbar-toggle {
    margin-right: 15px;
  }
  .slider .banner-text h2{
    font-size: 6vh;
  }
  .slider .banner-text h3{
    font-size: 3vh;
  }  
}
@media (max-width: 649px) {
 
}
@media (max-width: 599px) {
 
}
@media (max-width: 479px) {
  #product-grid .item{
    width: 100%;
  }
  .swiper .product{
    width: 100%;
    margin-left: 0;
  }
}
@media (max-width: 320px) {

}
/*Min-Width*/
@media (min-width: 320px) {
  .buy-panel{
    display: block;
    position: relative;
  }
  .swiper .slider-direction{
    top: 40%;
  }
  .swiper-slide{
    text-align: center;
  }
  .swiper .product-info{
    bottom: 30px;
  }
}
@media (min-width: 480px) {
  #content .cate-desc h2{   
    font-size: 60px;
  }
}
@media (min-width: 768px) {
  .swiper .slider-direction{
    top: 65%;
  }
  .swiper .product-info{
    bottom: 85px;
  }
  .swiper-slide{
    text-align: left;
  } 
  #content .cate-desc h2{   
    font-size: 40px;
  }       
}
@media (min-width: 992px) {
  .buy-panel{
    display: none;
    position: absolute;
  }
  .swiper-slide {
    text-align: center;
  }
  .swiper .slider-direction{
    display: none;
  } 
  #navbar{
    display: block !important;
  }  
  #content .cate-desc h2{   
    font-size: 60px;
  }
}
@media (min-width: 1200px) {
/*  #product-grid .item{
    width: 20%;
  }*/
}



 
